<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_jT-6cHyXEeiGWfy5vRWGZA" specification="@CycleBased(200)&#xA;&#xA;interface:&#xA;var counter:integer = 0&#xA;&#xA;interface LED:&#xA;operation turnOff():void&#xA;operation start():void&#xA;operation blinkRandomly(level:integer):void&#xA;operation celebrate():void&#xA;operation frown():void&#xA;operation newLevel():void&#xA;&#xA;interface BTN:&#xA;in event btn1&#xA;in event btn2&#xA;in event btn3&#xA;in event btn4&#xA;in event btn5&#xA;&#xA;interface ANS:&#xA;var next:integer = 0&#xA;var cnt:integer = 1&#xA;var max:integer = 7" name="memoryled">
    <regions xmi:id="_jVGUwHyXEeiGWfy5vRWGZA" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_jV93cHyXEeiGWfy5vRWGZA">
        <outgoingTransitions xmi:id="_tTxScHyZEeiGWfy5vRWGZA" specification="" target="_jWBh0HyXEeiGWfy5vRWGZA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jWBh0HyXEeiGWfy5vRWGZA" specification="entry/&#xD;&#xA;LED.start()" name="init" incomingTransitions="_tTxScHyZEeiGWfy5vRWGZA">
        <outgoingTransitions xmi:id="_5QQ5oHyZEeiGWfy5vRWGZA" specification="after 500ms" target="_3ndv0HyZEeiGWfy5vRWGZA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3ndv0HyZEeiGWfy5vRWGZA" name="running" incomingTransitions="_5QQ5oHyZEeiGWfy5vRWGZA">
        <regions xmi:id="_3neW4nyZEeiGWfy5vRWGZA" name="running_body">
          <vertices xsi:type="sgraph:State" xmi:id="_-POG8HyZEeiGWfy5vRWGZA" specification="entry/&#xD;&#xA;LED.newLevel()" name="start" incomingTransitions="_BIqZQHyaEeiGWfy5vRWGZA _FO1dEHydEeiGWfy5vRWGZA">
            <outgoingTransitions xmi:id="_dxxHsHyaEeiGWfy5vRWGZA" specification="after 500ms" target="_RgcgAHyaEeiGWfy5vRWGZA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_Aj44QHyaEeiGWfy5vRWGZA">
            <outgoingTransitions xmi:id="_BIqZQHyaEeiGWfy5vRWGZA" specification="" target="_-POG8HyZEeiGWfy5vRWGZA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_RgcgAHyaEeiGWfy5vRWGZA" specification="entry/&#xD;&#xA;LED.blinkRandomly(ANS.cnt-1)" name="random_blinking" incomingTransitions="_dxxHsHyaEeiGWfy5vRWGZA">
            <outgoingTransitions xmi:id="_lM5nEHybEeiGWfy5vRWGZA" specification="oncycle" target="_ihqI0HybEeiGWfy5vRWGZA"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_Y_CjEHybEeiGWfy5vRWGZA" incomingTransitions="_o-PKsHybEeiGWfy5vRWGZA">
            <outgoingTransitions xmi:id="_6TWcYHybEeiGWfy5vRWGZA" specification="[ANS.next == 1]" target="_ihqI0HybEeiGWfy5vRWGZA"/>
            <outgoingTransitions xmi:id="_WbTJEHydEeiGWfy5vRWGZA" specification="else" target="_ogmsIHyeEeiGWfy5vRWGZA"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_ZgRA0nybEeiGWfy5vRWGZA" incomingTransitions="_sukBsHybEeiGWfy5vRWGZA">
            <outgoingTransitions xmi:id="_L-JDIHycEeiGWfy5vRWGZA" specification="[ANS.next == 2]" target="_ihqI0HybEeiGWfy5vRWGZA"/>
            <outgoingTransitions xmi:id="_WbUXMHydEeiGWfy5vRWGZA" specification="else" target="_ogmsIHyeEeiGWfy5vRWGZA"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_Z9JKEnybEeiGWfy5vRWGZA" incomingTransitions="_xFVNoHybEeiGWfy5vRWGZA">
            <outgoingTransitions xmi:id="_PbbCUHycEeiGWfy5vRWGZA" specification="[ANS.next == 3]" target="_ihqI0HybEeiGWfy5vRWGZA"/>
            <outgoingTransitions xmi:id="_WbU-QHydEeiGWfy5vRWGZA" specification="else" target="_ogmsIHyeEeiGWfy5vRWGZA"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_aWIR0HybEeiGWfy5vRWGZA" incomingTransitions="_yZ6a8HybEeiGWfy5vRWGZA">
            <outgoingTransitions xmi:id="_SgQsUHycEeiGWfy5vRWGZA" specification="[ANS.next == 4]" target="_ihqI0HybEeiGWfy5vRWGZA"/>
            <outgoingTransitions xmi:id="_WbVlUHydEeiGWfy5vRWGZA" specification="else" target="_ogmsIHyeEeiGWfy5vRWGZA"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_bPqh4HybEeiGWfy5vRWGZA" incomingTransitions="_1nMPQHybEeiGWfy5vRWGZA">
            <outgoingTransitions xmi:id="_WMUHUHycEeiGWfy5vRWGZA" specification="[ANS.next == 5]" target="_ihqI0HybEeiGWfy5vRWGZA"/>
            <outgoingTransitions xmi:id="_WbVlU3ydEeiGWfy5vRWGZA" specification="else" target="_ogmsIHyeEeiGWfy5vRWGZA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ihqI0HybEeiGWfy5vRWGZA" specification="" name="waiting_for_interaction" incomingTransitions="_lM5nEHybEeiGWfy5vRWGZA _6TWcYHybEeiGWfy5vRWGZA _L-JDIHycEeiGWfy5vRWGZA _PbbCUHycEeiGWfy5vRWGZA _SgQsUHycEeiGWfy5vRWGZA _WMUHUHycEeiGWfy5vRWGZA">
            <outgoingTransitions xmi:id="_o-PKsHybEeiGWfy5vRWGZA" specification="BTN.btn1&#xD;&#xA;/ counter = counter+1" target="_Y_CjEHybEeiGWfy5vRWGZA"/>
            <outgoingTransitions xmi:id="_sukBsHybEeiGWfy5vRWGZA" specification="BTN.btn2&#xD;&#xA;/ counter = counter+1" target="_ZgRA0nybEeiGWfy5vRWGZA"/>
            <outgoingTransitions xmi:id="_xFVNoHybEeiGWfy5vRWGZA" specification="BTN.btn3&#xD;&#xA;/ counter = counter+1" target="_Z9JKEnybEeiGWfy5vRWGZA"/>
            <outgoingTransitions xmi:id="_yZ6a8HybEeiGWfy5vRWGZA" specification="BTN.btn4&#xD;&#xA;/ counter = counter+1" target="_aWIR0HybEeiGWfy5vRWGZA"/>
            <outgoingTransitions xmi:id="_1nMPQHybEeiGWfy5vRWGZA" specification="BTN.btn5&#xD;&#xA;/ counter = counter+1" target="_bPqh4HybEeiGWfy5vRWGZA"/>
            <outgoingTransitions xmi:id="_DaHXIHydEeiGWfy5vRWGZA" specification="[counter == ANS.cnt] / counter = 0" target="_AIPWsHydEeiGWfy5vRWGZA"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_AIPWsHydEeiGWfy5vRWGZA" incomingTransitions="_DaHXIHydEeiGWfy5vRWGZA">
            <outgoingTransitions xmi:id="_FO1dEHydEeiGWfy5vRWGZA" specification="else / ANS.cnt = ANS.cnt + 1" target="_-POG8HyZEeiGWfy5vRWGZA"/>
            <outgoingTransitions xmi:id="_MB-k0HydEeiGWfy5vRWGZA" specification="[ANS.cnt == ANS.max]" target="_MB66cHydEeiGWfy5vRWGZA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_MB66cHydEeiGWfy5vRWGZA" specification="entry/&#xD;&#xA;LED.celebrate()" name="celebrate" incomingTransitions="_MB-k0HydEeiGWfy5vRWGZA _2r_1cH6vEeig5p5d5aOW1Q">
            <outgoingTransitions xmi:id="_2r_1cH6vEeig5p5d5aOW1Q" specification="oncycle" target="_MB66cHydEeiGWfy5vRWGZA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_ogmsIHyeEeiGWfy5vRWGZA" specification="entry/LED.frown()" name="end" incomingTransitions="_WbUXMHydEeiGWfy5vRWGZA _WbU-QHydEeiGWfy5vRWGZA _WbVlUHydEeiGWfy5vRWGZA _WbVlU3ydEeiGWfy5vRWGZA _WbTJEHydEeiGWfy5vRWGZA _1XguwH6vEeig5p5d5aOW1Q">
            <outgoingTransitions xmi:id="_1XguwH6vEeig5p5d5aOW1Q" specification="oncycle" target="_ogmsIHyeEeiGWfy5vRWGZA"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_jVFGoHyXEeiGWfy5vRWGZA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_jT-6cHyXEeiGWfy5vRWGZA" measurementUnit="Pixel">
    <children xmi:id="_jVTJEHyXEeiGWfy5vRWGZA" type="Region" element="_jVGUwHyXEeiGWfy5vRWGZA">
      <children xsi:type="notation:DecorationNode" xmi:id="_jV3w0HyXEeiGWfy5vRWGZA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jV3w0XyXEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jV4X4HyXEeiGWfy5vRWGZA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_jV60IHyXEeiGWfy5vRWGZA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_jV-egHyXEeiGWfy5vRWGZA" type="Entry" element="_jV93cHyXEeiGWfy5vRWGZA">
          <children xmi:id="_jV_soHyXEeiGWfy5vRWGZA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_jV_so3yXEeiGWfy5vRWGZA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_jV_spHyXEeiGWfy5vRWGZA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_jV_spXyXEeiGWfy5vRWGZA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jV_soXyXEeiGWfy5vRWGZA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jV_sonyXEeiGWfy5vRWGZA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jV-egXyXEeiGWfy5vRWGZA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_jV-egnyXEeiGWfy5vRWGZA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jWATsHyXEeiGWfy5vRWGZA" x="21" width="15" height="15"/>
        </children>
        <children xmi:id="_jWGaUHyXEeiGWfy5vRWGZA" type="State" element="_jWBh0HyXEeiGWfy5vRWGZA">
          <children xsi:type="notation:DecorationNode" xmi:id="_jWHBYHyXEeiGWfy5vRWGZA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jWHBYXyXEeiGWfy5vRWGZA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jWHBYnyXEeiGWfy5vRWGZA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jWKEsHyXEeiGWfy5vRWGZA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jWKEsXyXEeiGWfy5vRWGZA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jWKEsnyXEeiGWfy5vRWGZA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jWKrwHyXEeiGWfy5vRWGZA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jWGaUXyXEeiGWfy5vRWGZA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jWGaUnyXEeiGWfy5vRWGZA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jWKrwXyXEeiGWfy5vRWGZA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jWLS0HyXEeiGWfy5vRWGZA" x="40" y="84" width="172" height="160"/>
        </children>
        <children xmi:id="_3ne98HyZEeiGWfy5vRWGZA" type="State" element="_3ndv0HyZEeiGWfy5vRWGZA">
          <children xsi:type="notation:DecorationNode" xmi:id="_3ne99HyZEeiGWfy5vRWGZA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3ne99XyZEeiGWfy5vRWGZA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3ne99nyZEeiGWfy5vRWGZA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3ne993yZEeiGWfy5vRWGZA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3nflAHyZEeiGWfy5vRWGZA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3nflAXyZEeiGWfy5vRWGZA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3nflAnyZEeiGWfy5vRWGZA" type="StateFigureCompartment">
            <children xmi:id="_W4xswH3xEeivqKS5L0ezSQ" type="Region" element="_3neW4nyZEeiGWfy5vRWGZA">
              <children xsi:type="notation:DecorationNode" xmi:id="_W4xswX3xEeivqKS5L0ezSQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xswn3xEeivqKS5L0ezSQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_W4xsw33xEeivqKS5L0ezSQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_W4xsxH3xEeivqKS5L0ezSQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_W4xsxX3xEeivqKS5L0ezSQ" type="State" element="_-POG8HyZEeiGWfy5vRWGZA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_W4xsxn3xEeivqKS5L0ezSQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xsx33xEeivqKS5L0ezSQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_W4xsyH3xEeivqKS5L0ezSQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W4xsyX3xEeivqKS5L0ezSQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_W4xsyn3xEeivqKS5L0ezSQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xsy33xEeivqKS5L0ezSQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W4xszH3xEeivqKS5L0ezSQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xszX3xEeivqKS5L0ezSQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_W4xszn3xEeivqKS5L0ezSQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_W4xsz33xEeivqKS5L0ezSQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs0H3xEeivqKS5L0ezSQ" x="49" y="59" width="172" height="160"/>
                </children>
                <children xmi:id="_W4xs0X3xEeivqKS5L0ezSQ" type="Entry" element="_Aj44QHyaEeiGWfy5vRWGZA">
                  <children xmi:id="_W4xs0n3xEeivqKS5L0ezSQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_W4xs033xEeivqKS5L0ezSQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xs1H3xEeivqKS5L0ezSQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_W4xs1X3xEeivqKS5L0ezSQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xs1n3xEeivqKS5L0ezSQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs133xEeivqKS5L0ezSQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xs2H3xEeivqKS5L0ezSQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_W4xs2X3xEeivqKS5L0ezSQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs2n3xEeivqKS5L0ezSQ" x="119" y="12"/>
                </children>
                <children xmi:id="_W4xs233xEeivqKS5L0ezSQ" type="State" element="_RgcgAHyaEeiGWfy5vRWGZA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_W4xs3H3xEeivqKS5L0ezSQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xs3X3xEeivqKS5L0ezSQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_W4xs3n3xEeivqKS5L0ezSQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W4xs333xEeivqKS5L0ezSQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_W4xs4H3xEeivqKS5L0ezSQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs4X3xEeivqKS5L0ezSQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W4xs4n3xEeivqKS5L0ezSQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xs433xEeivqKS5L0ezSQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_W4xs5H3xEeivqKS5L0ezSQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_W4xs5X3xEeivqKS5L0ezSQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs5n3xEeivqKS5L0ezSQ" x="525" y="33" width="293" height="102"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_W4xs533xEeivqKS5L0ezSQ" type="Choice" element="_Y_CjEHybEeiGWfy5vRWGZA" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs6H3xEeivqKS5L0ezSQ" x="599" y="597"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_W4xs6X3xEeivqKS5L0ezSQ" type="Choice" element="_ZgRA0nybEeiGWfy5vRWGZA" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs6n3xEeivqKS5L0ezSQ" x="483" y="597"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_W4xs633xEeivqKS5L0ezSQ" type="Choice" element="_Z9JKEnybEeiGWfy5vRWGZA" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs7H3xEeivqKS5L0ezSQ" x="351" y="597"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_W4xs7X3xEeivqKS5L0ezSQ" type="Choice" element="_aWIR0HybEeiGWfy5vRWGZA" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs7n3xEeivqKS5L0ezSQ" x="215" y="597"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_W4xs733xEeivqKS5L0ezSQ" type="Choice" element="_bPqh4HybEeiGWfy5vRWGZA" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs8H3xEeivqKS5L0ezSQ" x="107" y="597"/>
                </children>
                <children xmi:id="_W4xs8X3xEeivqKS5L0ezSQ" type="State" element="_ihqI0HybEeiGWfy5vRWGZA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_W4xs8n3xEeivqKS5L0ezSQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xs833xEeivqKS5L0ezSQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_W4xs9H3xEeivqKS5L0ezSQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W4xs9X3xEeivqKS5L0ezSQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_W4xs9n3xEeivqKS5L0ezSQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs933xEeivqKS5L0ezSQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W4xs-H3xEeivqKS5L0ezSQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xs-X3xEeivqKS5L0ezSQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_W4xs-n3xEeivqKS5L0ezSQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_W4xs-33xEeivqKS5L0ezSQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs_H3xEeivqKS5L0ezSQ" x="75" y="322" width="544"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_W4xs_X3xEeivqKS5L0ezSQ" type="Choice" element="_AIPWsHydEeiGWfy5vRWGZA" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xs_n3xEeivqKS5L0ezSQ" x="107" y="243"/>
                </children>
                <children xmi:id="_W4xs_33xEeivqKS5L0ezSQ" type="State" element="_MB66cHydEeiGWfy5vRWGZA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_W4xtAH3xEeivqKS5L0ezSQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xtAX3xEeivqKS5L0ezSQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_W4xtAn3xEeivqKS5L0ezSQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W4xtA33xEeivqKS5L0ezSQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_W4xtBH3xEeivqKS5L0ezSQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xtBX3xEeivqKS5L0ezSQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W4xtBn3xEeivqKS5L0ezSQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xtB33xEeivqKS5L0ezSQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_W4xtCH3xEeivqKS5L0ezSQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_W4xtCX3xEeivqKS5L0ezSQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xtCn3xEeivqKS5L0ezSQ" x="843" y="234" width="186" height="94"/>
                </children>
                <children xmi:id="_W4xtC33xEeivqKS5L0ezSQ" type="State" element="_ogmsIHyeEeiGWfy5vRWGZA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_W4xtDH3xEeivqKS5L0ezSQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xtDX3xEeivqKS5L0ezSQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_W4xtDn3xEeivqKS5L0ezSQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W4xtD33xEeivqKS5L0ezSQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_W4xtEH3xEeivqKS5L0ezSQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xtEX3xEeivqKS5L0ezSQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_W4xtEn3xEeivqKS5L0ezSQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xtE33xEeivqKS5L0ezSQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_W4xtFH3xEeivqKS5L0ezSQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_W4xtFX3xEeivqKS5L0ezSQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xtFn3xEeivqKS5L0ezSQ" x="75" y="693" width="544"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xtF33xEeivqKS5L0ezSQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_W4xtGH3xEeivqKS5L0ezSQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_W4xtGX3xEeivqKS5L0ezSQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3ne98XyZEeiGWfy5vRWGZA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3ne98nyZEeiGWfy5vRWGZA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3nflA3yZEeiGWfy5vRWGZA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ne983yZEeiGWfy5vRWGZA" x="289" y="384" width="1204" height="928"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jV60IXyXEeiGWfy5vRWGZA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_jVTJEXyXEeiGWfy5vRWGZA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jV8CQHyXEeiGWfy5vRWGZA" x="172" y="24" width="3284" height="2604"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_jWbKcHyXEeiGWfy5vRWGZA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_jWbxgHyXEeiGWfy5vRWGZA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jWbxgXyXEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jWbxgnyXEeiGWfy5vRWGZA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_jWbxg3yXEeiGWfy5vRWGZA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jWbxhHyXEeiGWfy5vRWGZA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jWcYkHyXEeiGWfy5vRWGZA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jVFGoXyXEeiGWfy5vRWGZA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_jVFGonyXEeiGWfy5vRWGZA"/>
    <edges xmi:id="_tTygkHyZEeiGWfy5vRWGZA" type="Transition" element="_tTxScHyZEeiGWfy5vRWGZA" source="_jV-egHyXEeiGWfy5vRWGZA" target="_jWGaUHyXEeiGWfy5vRWGZA">
      <children xsi:type="notation:DecorationNode" xmi:id="_tTyglHyZEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tTyglXyZEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tTyglnyZEeiGWfy5vRWGZA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tTygkXyZEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tTygk3yZEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tTygknyZEeiGWfy5vRWGZA" points="[9, 5, -183, -104]$[197, 97, 5, -12]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tT0VwHyZEeiGWfy5vRWGZA" id="(0.5581395348837209,0.04375)"/>
    </edges>
    <edges xmi:id="_5QSHwHyZEeiGWfy5vRWGZA" type="Transition" element="_5QQ5oHyZEeiGWfy5vRWGZA" source="_jWGaUHyXEeiGWfy5vRWGZA" target="_3ne98HyZEeiGWfy5vRWGZA">
      <children xsi:type="notation:DecorationNode" xmi:id="_5QSHxHyZEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5QSHxXyZEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5QSHxnyZEeiGWfy5vRWGZA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5QSHwXyZEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5QSHw3yZEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5QSHwnyZEeiGWfy5vRWGZA" points="[0, 0, -255, -200]$[260, 182, 5, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5QTV4HyZEeiGWfy5vRWGZA" id="(0.6569767441860465,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5QTV4XyZEeiGWfy5vRWGZA" id="(0.04564665903903173,0.018594454679318292)"/>
    </edges>
    <edges xmi:id="_BIrnYHyaEeiGWfy5vRWGZA" type="Transition" element="_BIqZQHyaEeiGWfy5vRWGZA" source="_W4xs0X3xEeivqKS5L0ezSQ" target="_W4xsxX3xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_BIrnZHyaEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BIrnZXyaEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BIrnZnyaEeiGWfy5vRWGZA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BIrnYXyaEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BIrnY3yaEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BIrnYnyaEeiGWfy5vRWGZA" points="[1, 7, -6, -61]$[10, 40, 3, -28]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BIs1gHyaEeiGWfy5vRWGZA" id="(0.5058139534883721,0.18125)"/>
    </edges>
    <edges xmi:id="_dxyV0HyaEeiGWfy5vRWGZA" type="Transition" element="_dxxHsHyaEeiGWfy5vRWGZA" source="_W4xsxX3xEeivqKS5L0ezSQ" target="_W4xs233xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_dxy84XyaEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dxy84nyaEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dxy843yaEeiGWfy5vRWGZA" x="-3" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dxyV0XyaEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dxy84HyaEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dxyV0nyaEeiGWfy5vRWGZA" points="[56, -106, -392, 24]$[365, -106, -83, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dx0yEHyaEeiGWfy5vRWGZA" id="(0.6686046511627907,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7uVpIHyaEeiGWfy5vRWGZA" id="(0.2891160616451847,0.5309278350515463)"/>
    </edges>
    <edges xmi:id="_lM61MHybEeiGWfy5vRWGZA" type="Transition" element="_lM5nEHybEeiGWfy5vRWGZA" source="_W4xs233xEeivqKS5L0ezSQ" target="_W4xs8X3xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_lM61NHybEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lM61NXybEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lM61NnybEeiGWfy5vRWGZA" x="-9" y="-27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lM61MXybEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lM61M3ybEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lM61MnybEeiGWfy5vRWGZA" points="[-1, 0, 450, -230]$[-1, 204, 450, -26]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lM8qYHybEeiGWfy5vRWGZA" id="(0.283502666871816,0.8762886597938144)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ljHusHybEeiGWfy5vRWGZA" id="(0.15016685205784205,0.5)"/>
    </edges>
    <edges xmi:id="_o-QY0HybEeiGWfy5vRWGZA" type="Transition" element="_o-PKsHybEeiGWfy5vRWGZA" source="_W4xs8X3xEeivqKS5L0ezSQ" target="_W4xs533xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_o-QY1HybEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_o-QY1XybEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_o-QY1nybEeiGWfy5vRWGZA" x="8" y="-27"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_o-QY0XybEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_o-QY03ybEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_o-QY0nybEeiGWfy5vRWGZA" points="[335, 0, 8, -251]$[372, 0, 45, -251]$[372, 225, 45, -26]$[327, 225, 0, -26]$[327, 244, 0, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_o-S1EHybEeiGWfy5vRWGZA" id="(0.38005190952910645,0.6140350877192983)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rR52cHybEeiGWfy5vRWGZA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_sumd8HybEeiGWfy5vRWGZA" type="Transition" element="_sukBsHybEeiGWfy5vRWGZA" source="_W4xs8X3xEeivqKS5L0ezSQ" target="_W4xs6X3xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_sumd9HybEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sumd9XybEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sumd9nybEeiGWfy5vRWGZA" x="37" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sumd8XybEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sumd83ybEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sumd8nybEeiGWfy5vRWGZA" points="[236, 0, 2, -230]$[236, 224, 2, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sunsEHybEeiGWfy5vRWGZA" id="(0.3366174055829228,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tWBDQHybEeiGWfy5vRWGZA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_xFV0sHybEeiGWfy5vRWGZA" type="Transition" element="_xFVNoHybEeiGWfy5vRWGZA" source="_W4xs8X3xEeivqKS5L0ezSQ" target="_W4xs633xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_xFWbwXybEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xFWbwnybEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xFWbw3ybEeiGWfy5vRWGZA" x="11" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xFV0sXybEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xFWbwHybEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xFV0snybEeiGWfy5vRWGZA" points="[180, 0, -4, -230]$[180, 227, -4, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xFXp4HybEeiGWfy5vRWGZA" id="(0.18459664177128027,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_f9kuIH0tEeiCCbtLhWMMDw" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_yZ7pEHybEeiGWfy5vRWGZA" type="Transition" element="_yZ6a8HybEeiGWfy5vRWGZA" source="_W4xs8X3xEeivqKS5L0ezSQ" target="_W4xs7X3xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_yZ7pFHybEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yZ7pFXybEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yZ7pFnybEeiGWfy5vRWGZA"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yZ7pEXybEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yZ7pE3ybEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yZ7pEnybEeiGWfy5vRWGZA" points="[114, 0, 4, -226]$[114, 224, 4, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yZ9eQHybEeiGWfy5vRWGZA" id="(0.059722442926002435,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yZ9eQXybEeiGWfy5vRWGZA" id="(0.13333333333333333,0.2)"/>
    </edges>
    <edges xmi:id="_1nNdYHybEeiGWfy5vRWGZA" type="Transition" element="_1nMPQHybEeiGWfy5vRWGZA" source="_W4xs8X3xEeivqKS5L0ezSQ" target="_W4xs733xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_1nNdZHybEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1nNdZXybEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1nNdZnybEeiGWfy5vRWGZA" x="33" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1nNdYXybEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1nNdY3ybEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1nNdYnybEeiGWfy5vRWGZA" points="[37, 22, -2, -230]$[37, 247, -2, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1nOrgHybEeiGWfy5vRWGZA" id="(0.0,0.5789473684210527)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3yfCIHybEeiGWfy5vRWGZA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_6TXDcHybEeiGWfy5vRWGZA" type="Transition" element="_6TWcYHybEeiGWfy5vRWGZA" source="_W4xs533xEeivqKS5L0ezSQ" target="_W4xs8X3xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_6TXDdHybEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6TXDdXybEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6TXDdnybEeiGWfy5vRWGZA" x="51" y="37"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6TXDcXybEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6TXDc3ybEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6TXDcnybEeiGWfy5vRWGZA" points="[-14, -9, 324, 234]$[-30, -9, 308, 234]$[-30, -238, 308, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6TYRkHybEeiGWfy5vRWGZA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6TYRkXybEeiGWfy5vRWGZA" id="(0.3746225965358335,0.9122807017543859)"/>
    </edges>
    <edges xmi:id="_L-JqMHycEeiGWfy5vRWGZA" type="Transition" element="_L-JDIHycEeiGWfy5vRWGZA" source="_W4xs6X3xEeivqKS5L0ezSQ" target="_W4xs8X3xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_L-KRQXycEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_L-KRQnycEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_L-KRQ3ycEeiGWfy5vRWGZA" x="86" y="16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_L-JqMXycEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_L-KRQHycEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_L-JqMnycEeiGWfy5vRWGZA" points="[1, -9, 223, 245]$[-48, -9, 174, 245]$[-48, -238, 174, 16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L-LfYHycEeiGWfy5vRWGZA" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_L-LfYXycEeiGWfy5vRWGZA" id="(0.3456662605717111,0.7017543859649122)"/>
    </edges>
    <edges xmi:id="_PbbpYHycEeiGWfy5vRWGZA" type="Transition" element="_PbbCUHycEeiGWfy5vRWGZA" source="_W4xs633xEeivqKS5L0ezSQ" target="_W4xs8X3xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_PbcQcHycEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_PbcQcXycEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_PbcQcnycEeiGWfy5vRWGZA" x="-10" y="58"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_PbbpYXycEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_PbbpY3ycEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_PbbpYnycEeiGWfy5vRWGZA" points="[2, -10, 133, 239]$[-84, -10, 47, 239]$[-84, -238, 47, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PbdekHycEeiGWfy5vRWGZA" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_PbdekXycEeiGWfy5vRWGZA" id="(0.2696558786658898,0.8070175438596491)"/>
    </edges>
    <edges xmi:id="_SgR6cHycEeiGWfy5vRWGZA" type="Transition" element="_SgQsUHycEeiGWfy5vRWGZA" source="_W4xs7X3xEeivqKS5L0ezSQ" target="_W4xs8X3xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_SgR6dHycEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SgR6dXycEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SgR6dnycEeiGWfy5vRWGZA" x="-51" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SgR6cXycEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SgR6c3ycEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SgR6cnycEeiGWfy5vRWGZA" points="[-14, -9, 91, 243]$[-54, -9, 51, 243]$[-54, -238, 51, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SgTIkHycEeiGWfy5vRWGZA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SgTIkXycEeiGWfy5vRWGZA" id="(0.09410809188339779,0.7368421052631577)"/>
    </edges>
    <edges xmi:id="_WMhisHycEeiGWfy5vRWGZA" type="Transition" element="_WMUHUHycEeiGWfy5vRWGZA" source="_W4xs733xEeivqKS5L0ezSQ" target="_W4xs8X3xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WMhitHycEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WMhitXycEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WMhitnycEeiGWfy5vRWGZA" x="44" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WMhisXycEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WMhis3ycEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WMhisnycEeiGWfy5vRWGZA" points="[-15, -8, 28, 245]$[-95, -8, -52, 245]$[-95, -262, -52, -9]$[-47, -262, -4, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMiw0HycEeiGWfy5vRWGZA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WMiw0XycEeiGWfy5vRWGZA" id="(0.009048854988788248,0.719298245614035)"/>
    </edges>
    <edges xmi:id="_WbYBkHydEeiGWfy5vRWGZA" type="Transition" element="_WbVlU3ydEeiGWfy5vRWGZA" source="_W4xs733xEeivqKS5L0ezSQ" target="_W4xtC33xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WbYBkXydEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WbYBknydEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WbYBk3ydEeiGWfy5vRWGZA" x="9" y="-1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WbYBlHydEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WbYBlXydEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WbYBlnydEeiGWfy5vRWGZA" points="[-9, -2, -160, -130]$[-9, 111, -160, -17]$[121, 111, -30, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WbYBl3ydEeiGWfy5vRWGZA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ttgO0HyeEeiGWfy5vRWGZA" id="(0.36788018540342887,0.9056603773584906)"/>
    </edges>
    <edges xmi:id="_WbYBmXydEeiGWfy5vRWGZA" type="Transition" element="_WbVlUHydEeiGWfy5vRWGZA" source="_W4xs7X3xEeivqKS5L0ezSQ" target="_W4xtC33xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WbYBmnydEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WbYooHydEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WbYooXydEeiGWfy5vRWGZA" x="9" y="-1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WbYBm3ydEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WbYBnHydEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WbYBnXydEeiGWfy5vRWGZA" points="[-9, -2, -43, -130]$[-9, 81, -43, -47]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WbYBnnydEeiGWfy5vRWGZA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_s7cfwHyeEeiGWfy5vRWGZA" id="(0.351353163722512,0.9056603773584906)"/>
    </edges>
    <edges xmi:id="_WbYBn3ydEeiGWfy5vRWGZA" type="Transition" element="_WbU-QHydEeiGWfy5vRWGZA" source="_W4xs633xEeivqKS5L0ezSQ" target="_W4xtC33xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WbYBoHydEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WbYoonydEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WbYoo3ydEeiGWfy5vRWGZA" x="9" y="-1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WbYBoXydEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WbYBonydEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WbYBo3ydEeiGWfy5vRWGZA" points="[-9, -2, 90, -130]$[-9, 81, 90, -47]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WbYBpHydEeiGWfy5vRWGZA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sOYlcHyeEeiGWfy5vRWGZA" id="(0.35796397239487876,0.9056603773584906)"/>
    </edges>
    <edges xmi:id="_WbYBpXydEeiGWfy5vRWGZA" type="Transition" element="_WbUXMHydEeiGWfy5vRWGZA" source="_W4xs6X3xEeivqKS5L0ezSQ" target="_W4xtC33xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WbYBpnydEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WbYopHydEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WbYopXydEeiGWfy5vRWGZA" x="9" y="-1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WbYBp3ydEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WbYBqHydEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WbYBqXydEeiGWfy5vRWGZA" points="[-9, -2, 222, -132]$[-9, 81, 222, -49]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WbYBqnydEeiGWfy5vRWGZA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rU5_wHyeEeiGWfy5vRWGZA" id="(0.3563112702267871,0.9433962264150944)"/>
    </edges>
    <edges xmi:id="_WbYBq3ydEeiGWfy5vRWGZA" type="Transition" element="_WbTJEHydEeiGWfy5vRWGZA" source="_W4xs533xEeivqKS5L0ezSQ" target="_W4xtC33xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WbYBrHydEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WbYopnydEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WbYop3ydEeiGWfy5vRWGZA" x="9" y="-1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WbYBrXydEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WbYBrnydEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WbYBr3ydEeiGWfy5vRWGZA" points="[-9, -2, 342, -92]$[-9, 81, 342, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WbYBsHydEeiGWfy5vRWGZA" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vMIwAHyeEeiGWfy5vRWGZA" id="(0.3497004615544204,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_DaIlQHydEeiGWfy5vRWGZA" type="Transition" element="_DaHXIHydEeiGWfy5vRWGZA" source="_W4xs8X3xEeivqKS5L0ezSQ" target="_W4xs_X3xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_DaIlRHydEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DaIlRXydEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DaIlRnydEeiGWfy5vRWGZA" x="-3" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DaIlQXydEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DaIlQ3ydEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DaIlQnydEeiGWfy5vRWGZA" points="[0, 0, 92, 74]$[-93, -75, -1, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DaJzYHydEeiGWfy5vRWGZA" id="(0.07601038190582128,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DaJzYXydEeiGWfy5vRWGZA" id="(0.06666666666666667,0.4666666666666667)"/>
    </edges>
    <edges xmi:id="_FO2EIHydEeiGWfy5vRWGZA" type="Transition" element="_FO1dEHydEeiGWfy5vRWGZA" source="_W4xs_X3xEeivqKS5L0ezSQ" target="_W4xsxX3xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_FO2rMXydEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FO2rMnydEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FO2rM3ydEeiGWfy5vRWGZA" x="-5" y="110"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FO2EIXydEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FO2rMHydEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FO2EInydEeiGWfy5vRWGZA" points="[6, -14, 51, 44]$[6, -44, 51, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FO3SQHydEeiGWfy5vRWGZA" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FO3SQXydEeiGWfy5vRWGZA" id="(0.08139534883720931,0.9125)"/>
    </edges>
    <edges xmi:id="_MB_L4HydEeiGWfy5vRWGZA" type="Transition" element="_MB-k0HydEeiGWfy5vRWGZA" source="_W4xs_X3xEeivqKS5L0ezSQ" target="_W4xs_33xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_MB_y8HydEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MB_y8XydEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MB_y8nydEeiGWfy5vRWGZA" x="-13" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MB_L4XydEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MB_L43ydEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MB_L4nydEeiGWfy5vRWGZA" points="[15, -8, -765, -10]$[736, -8, -44, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MCBBEHydEeiGWfy5vRWGZA" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MZdQsHydEeiGWfy5vRWGZA" id="(0.24585635359116023,0.29213483146067415)"/>
    </edges>
    <edges xmi:id="_1XjyEH6vEeig5p5d5aOW1Q" type="Transition" element="_1XguwH6vEeig5p5d5aOW1Q" source="_W4xtC33xEeivqKS5L0ezSQ" target="_W4xtC33xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_1XlAMH6vEeig5p5d5aOW1Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1XlAMX6vEeig5p5d5aOW1Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1XlnQH6vEeig5p5d5aOW1Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1XjyEX6vEeig5p5d5aOW1Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1XkZIH6vEeig5p5d5aOW1Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1XjyEn6vEeig5p5d5aOW1Q" points="[31, -4, 14, 4]$[22, 0, 5, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1XoDgH6vEeig5p5d5aOW1Q" id="(0.9227941176470589,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1XoDgX6vEeig5p5d5aOW1Q" id="(0.9669117647058824,0.8070175438596491)"/>
    </edges>
    <edges xmi:id="_2sBDkH6vEeig5p5d5aOW1Q" type="Transition" element="_2r_1cH6vEeig5p5d5aOW1Q" source="_W4xs_33xEeivqKS5L0ezSQ" target="_W4xs_33xEeivqKS5L0ezSQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_2sBqoX6vEeig5p5d5aOW1Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2sBqon6vEeig5p5d5aOW1Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2sBqo36vEeig5p5d5aOW1Q" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2sBDkX6vEeig5p5d5aOW1Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2sBqoH6vEeig5p5d5aOW1Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2sBDkn6vEeig5p5d5aOW1Q" points="[76, -3, 35, 4]$[45, 0, 4, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2sDf0H6vEeig5p5d5aOW1Q" id="(0.43548387096774194,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2sDf0X6vEeig5p5d5aOW1Q" id="(0.7419354838709677,0.8936170212765957)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
