<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_jT-6cHyXEeiGWfy5vRWGZA" specification="@CycleBased(200)&#xA;&#xA;interface:&#xA;operation del(time:integer):void&#xA;var szml:integer = 0&#xA;&#xA;interface LED:&#xA;operation kikapcs():void&#xA;operation indulj():void&#xA;operation veletlenVillanasok(level:integer):void&#xA;operation partyTime():void&#xA;operation szomoru():void&#xA;operation ujSzintKezdes():void&#xA;&#xA;interface GMB:&#xA;in event gmb1&#xA;in event gmb2&#xA;in event gmb3&#xA;in event gmb4&#xA;in event gmb5&#xA;&#xA;interface VLSZ:&#xA;var kov:integer = 0&#xA;var szintSzml:integer = 1&#xA;var max:integer = 42" name="memoryled">
    <regions xmi:id="_jVGUwHyXEeiGWfy5vRWGZA" name="d">
      <vertices xsi:type="sgraph:Entry" xmi:id="_jV93cHyXEeiGWfy5vRWGZA">
        <outgoingTransitions xmi:id="_tTxScHyZEeiGWfy5vRWGZA" specification="" target="_jWBh0HyXEeiGWfy5vRWGZA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jWBh0HyXEeiGWfy5vRWGZA" specification="entry/&#xD;&#xA;LED.indulj()&#xD;&#xA;exit/&#xD;&#xA;del(500)" name="Inditas" incomingTransitions="_tTxScHyZEeiGWfy5vRWGZA">
        <outgoingTransitions xmi:id="_5QQ5oHyZEeiGWfy5vRWGZA" specification="oncycle" target="_3ndv0HyZEeiGWfy5vRWGZA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3ndv0HyZEeiGWfy5vRWGZA" name="Fut a jatek" incomingTransitions="_5QQ5oHyZEeiGWfy5vRWGZA">
        <regions xmi:id="_jDT0E8MKEeinjuJ7Jkzy7A" name="s">
          <vertices xsi:type="sgraph:State" xmi:id="_jDcW_MMKEeinjuJ7Jkzy7A" specification="entry/&#xD;&#xA;LED.ujSzintKezdes()&#xD;&#xA;exit/&#xD;&#xA;del(500)" name="Indulas" incomingTransitions="_jDbI18MKEeinjuJ7Jkzy7A _2NGEMMMREeijf8tZ-M5Ezg">
            <outgoingTransitions xmi:id="_jDc-EMMKEeinjuJ7Jkzy7A" specification="oncycle" target="_jDZ6sMMKEeinjuJ7Jkzy7A"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_jDbI1sMKEeinjuJ7Jkzy7A">
            <outgoingTransitions xmi:id="_jDbI18MKEeinjuJ7Jkzy7A" specification="" target="_jDcW_MMKEeinjuJ7Jkzy7A"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_jDZ6sMMKEeinjuJ7Jkzy7A" specification="entry/&#xD;&#xA;LED.veletlenVillanasok(VLSZ.szintSzml-1)" name="LED villogtatas" incomingTransitions="_jDc-EMMKEeinjuJ7Jkzy7A">
            <outgoingTransitions xmi:id="_1CQeMMMQEeijf8tZ-M5Ezg" specification="oncycle" target="_jDYslcMKEeinjuJ7Jkzy7A"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_jDYslcMKEeinjuJ7Jkzy7A" specification="" name="Varunk a gombnyomasra" incomingTransitions="_1CQeMMMQEeijf8tZ-M5Ezg _-GGAwMMREeijf8tZ-M5Ezg _wWkX8MTNEeih39xKyywChQ _EGqeUMTOEeih39xKyywChQ _RxyxkMTOEeih39xKyywChQ _UmkmUMTOEeih39xKyywChQ">
            <outgoingTransitions xmi:id="_r9OW4MMREeijf8tZ-M5Ezg" specification="[szml == VLSZ.szintSzml] / szml = 0; VLSZ.szintSzml&#xA; = VLSZ.szintSzml + 1" target="_3LMgoMMQEeijf8tZ-M5Ezg"/>
            <outgoingTransitions xmi:id="_KP8ugMMSEeijf8tZ-M5Ezg" specification="GMB.gmb1&#xA;/ szml = szml+1" target="_6V0NEMMREeijf8tZ-M5Ezg"/>
            <outgoingTransitions xmi:id="_RwniUMTNEeih39xKyywChQ" specification="GMB.gmb2&#xA;/ szml = szml+1" target="_PHFUQMTNEeih39xKyywChQ"/>
            <outgoingTransitions xmi:id="_UUDvcMTNEeih39xKyywChQ" specification="GMB.gmb3&#xA;/ szml = szml+1" target="_PnAxgMTNEeih39xKyywChQ"/>
            <outgoingTransitions xmi:id="_WlMroMTNEeih39xKyywChQ" specification="GMB.gmb4&#xA;/ szml = szml+1" target="_QBP2cMTNEeih39xKyywChQ"/>
            <outgoingTransitions xmi:id="_YXtyIMTNEeih39xKyywChQ" specification="GMB.gmb5&#xA;/ szml = szml+1" target="_QiBoQMTNEeih39xKyywChQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_jDWQUMMKEeinjuJ7Jkzy7A" specification="entry/&#xD;&#xA;LED.partyTime()" name="Nyertunk" incomingTransitions="_jDW3acMKEeinjuJ7Jkzy7A _cxkFAMMREeijf8tZ-M5Ezg">
            <outgoingTransitions xmi:id="_jDW3acMKEeinjuJ7Jkzy7A" specification="oncycle" target="_jDWQUMMKEeinjuJ7Jkzy7A"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_jDT0IMMKEeinjuJ7Jkzy7A" specification="entry/LED.szomoru()" name="Vesztettunk" incomingTransitions="_jDVCNsMKEeinjuJ7Jkzy7A _7coEIMMREeijf8tZ-M5Ezg _lF9mYMTNEeih39xKyywChQ _9t4XUMTNEeih39xKyywChQ _NwJhEMTOEeih39xKyywChQ _O6jesMTOEeih39xKyywChQ">
            <outgoingTransitions xmi:id="_jDVCNsMKEeinjuJ7Jkzy7A" specification="oncycle" target="_jDT0IMMKEeinjuJ7Jkzy7A"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_3LMgoMMQEeijf8tZ-M5Ezg" incomingTransitions="_r9OW4MMREeijf8tZ-M5Ezg">
            <outgoingTransitions xmi:id="_cxkFAMMREeijf8tZ-M5Ezg" specification="[VLSZ.szintSzml > VLSZ.max]" target="_jDWQUMMKEeinjuJ7Jkzy7A"/>
            <outgoingTransitions xmi:id="_2NGEMMMREeijf8tZ-M5Ezg" specification="else " target="_jDcW_MMKEeinjuJ7Jkzy7A"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_6V0NEMMREeijf8tZ-M5Ezg" incomingTransitions="_KP8ugMMSEeijf8tZ-M5Ezg">
            <outgoingTransitions xmi:id="_7coEIMMREeijf8tZ-M5Ezg" specification="else" target="_jDT0IMMKEeinjuJ7Jkzy7A"/>
            <outgoingTransitions xmi:id="_-GGAwMMREeijf8tZ-M5Ezg" specification="[VLSZ.kov == 1]" target="_jDYslcMKEeinjuJ7Jkzy7A"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_PHFUQMTNEeih39xKyywChQ" incomingTransitions="_RwniUMTNEeih39xKyywChQ">
            <outgoingTransitions xmi:id="_lF9mYMTNEeih39xKyywChQ" specification="else" target="_jDT0IMMKEeinjuJ7Jkzy7A"/>
            <outgoingTransitions xmi:id="_wWkX8MTNEeih39xKyywChQ" specification="[VLSZ.kov == 2]" target="_jDYslcMKEeinjuJ7Jkzy7A"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_PnAxgMTNEeih39xKyywChQ" incomingTransitions="_UUDvcMTNEeih39xKyywChQ">
            <outgoingTransitions xmi:id="_9t4XUMTNEeih39xKyywChQ" specification="else" target="_jDT0IMMKEeinjuJ7Jkzy7A"/>
            <outgoingTransitions xmi:id="_EGqeUMTOEeih39xKyywChQ" specification="[VLSZ.kov == 3]" target="_jDYslcMKEeinjuJ7Jkzy7A"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_QBP2cMTNEeih39xKyywChQ" incomingTransitions="_WlMroMTNEeih39xKyywChQ">
            <outgoingTransitions xmi:id="_NwJhEMTOEeih39xKyywChQ" specification="else" target="_jDT0IMMKEeinjuJ7Jkzy7A"/>
            <outgoingTransitions xmi:id="_RxyxkMTOEeih39xKyywChQ" specification="[VLSZ.kov == 4]" target="_jDYslcMKEeinjuJ7Jkzy7A"/>
          </vertices>
          <vertices xsi:type="sgraph:Choice" xmi:id="_QiBoQMTNEeih39xKyywChQ" incomingTransitions="_YXtyIMTNEeih39xKyywChQ">
            <outgoingTransitions xmi:id="_O6jesMTOEeih39xKyywChQ" specification="else" target="_jDT0IMMKEeinjuJ7Jkzy7A"/>
            <outgoingTransitions xmi:id="_UmkmUMTOEeih39xKyywChQ" specification="[VLSZ.kov == 5]" target="_jDYslcMKEeinjuJ7Jkzy7A"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_jVFGoHyXEeiGWfy5vRWGZA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_jT-6cHyXEeiGWfy5vRWGZA" measurementUnit="Pixel">
    <children xmi:id="_jVTJEHyXEeiGWfy5vRWGZA" type="Region" element="_jVGUwHyXEeiGWfy5vRWGZA">
      <children xsi:type="notation:DecorationNode" xmi:id="_jV3w0HyXEeiGWfy5vRWGZA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jV3w0XyXEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jV4X4HyXEeiGWfy5vRWGZA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_jV60IHyXEeiGWfy5vRWGZA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_jV-egHyXEeiGWfy5vRWGZA" type="Entry" element="_jV93cHyXEeiGWfy5vRWGZA">
          <children xmi:id="_jV_soHyXEeiGWfy5vRWGZA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_jV_so3yXEeiGWfy5vRWGZA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_jV_spHyXEeiGWfy5vRWGZA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_jV_spXyXEeiGWfy5vRWGZA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jV_soXyXEeiGWfy5vRWGZA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jV_sonyXEeiGWfy5vRWGZA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jV-egXyXEeiGWfy5vRWGZA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_jV-egnyXEeiGWfy5vRWGZA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jWATsHyXEeiGWfy5vRWGZA" x="21" width="15" height="15"/>
        </children>
        <children xmi:id="_jWGaUHyXEeiGWfy5vRWGZA" type="State" element="_jWBh0HyXEeiGWfy5vRWGZA">
          <children xsi:type="notation:DecorationNode" xmi:id="_jWHBYHyXEeiGWfy5vRWGZA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jWHBYXyXEeiGWfy5vRWGZA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jWHBYnyXEeiGWfy5vRWGZA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jWKEsHyXEeiGWfy5vRWGZA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jWKEsXyXEeiGWfy5vRWGZA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jWKEsnyXEeiGWfy5vRWGZA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jWKrwHyXEeiGWfy5vRWGZA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jWGaUXyXEeiGWfy5vRWGZA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jWGaUnyXEeiGWfy5vRWGZA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jWKrwXyXEeiGWfy5vRWGZA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jWLS0HyXEeiGWfy5vRWGZA" x="40" y="84" width="172" height="160"/>
        </children>
        <children xmi:id="_3ne98HyZEeiGWfy5vRWGZA" type="State" element="_3ndv0HyZEeiGWfy5vRWGZA">
          <children xsi:type="notation:DecorationNode" xmi:id="_3ne99HyZEeiGWfy5vRWGZA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3ne99XyZEeiGWfy5vRWGZA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3ne99nyZEeiGWfy5vRWGZA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3ne993yZEeiGWfy5vRWGZA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3nflAHyZEeiGWfy5vRWGZA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3nflAXyZEeiGWfy5vRWGZA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3nflAnyZEeiGWfy5vRWGZA" type="StateFigureCompartment">
            <children xmi:id="_17hOQMTNEeih39xKyywChQ" type="Region" element="_jDT0E8MKEeinjuJ7Jkzy7A">
              <children xsi:type="notation:DecorationNode" xmi:id="_17hOQcTNEeih39xKyywChQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOQsTNEeih39xKyywChQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_17hOQ8TNEeih39xKyywChQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_17hORMTNEeih39xKyywChQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_17hORcTNEeih39xKyywChQ" type="State" element="_jDcW_MMKEeinjuJ7Jkzy7A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_17hORsTNEeih39xKyywChQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOR8TNEeih39xKyywChQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_17hOSMTNEeih39xKyywChQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_17hOScTNEeih39xKyywChQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_17hOSsTNEeih39xKyywChQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOS8TNEeih39xKyywChQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_17hOTMTNEeih39xKyywChQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOTcTNEeih39xKyywChQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_17hOTsTNEeih39xKyywChQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_17hOT8TNEeih39xKyywChQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOUMTNEeih39xKyywChQ" x="31" y="60" width="226" height="160"/>
                </children>
                <children xmi:id="_17hOUcTNEeih39xKyywChQ" type="Entry" element="_jDbI1sMKEeinjuJ7Jkzy7A">
                  <children xmi:id="_17hOUsTNEeih39xKyywChQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_17hOU8TNEeih39xKyywChQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOVMTNEeih39xKyywChQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_17hOVcTNEeih39xKyywChQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOVsTNEeih39xKyywChQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOV8TNEeih39xKyywChQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOWMTNEeih39xKyywChQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_17hOWcTNEeih39xKyywChQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOWsTNEeih39xKyywChQ" x="119" y="12"/>
                </children>
                <children xmi:id="_17hOW8TNEeih39xKyywChQ" type="State" element="_jDZ6sMMKEeinjuJ7Jkzy7A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_17hOXMTNEeih39xKyywChQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOXcTNEeih39xKyywChQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_17hOXsTNEeih39xKyywChQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_17hOX8TNEeih39xKyywChQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_17hOYMTNEeih39xKyywChQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOYcTNEeih39xKyywChQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_17hOYsTNEeih39xKyywChQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOY8TNEeih39xKyywChQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_17hOZMTNEeih39xKyywChQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_17hOZcTNEeih39xKyywChQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOZsTNEeih39xKyywChQ" x="525" y="33" width="432" height="152"/>
                </children>
                <children xmi:id="_17hOZ8TNEeih39xKyywChQ" type="State" element="_jDYslcMKEeinjuJ7Jkzy7A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_17hOaMTNEeih39xKyywChQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOacTNEeih39xKyywChQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_17hOasTNEeih39xKyywChQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_17hOa8TNEeih39xKyywChQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_17hObMTNEeih39xKyywChQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hObcTNEeih39xKyywChQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_17hObsTNEeih39xKyywChQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOb8TNEeih39xKyywChQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_17hOcMTNEeih39xKyywChQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_17hOccTNEeih39xKyywChQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOcsTNEeih39xKyywChQ" x="75" y="322" width="544"/>
                </children>
                <children xmi:id="_17hOc8TNEeih39xKyywChQ" type="State" element="_jDWQUMMKEeinjuJ7Jkzy7A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_17hOdMTNEeih39xKyywChQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOdcTNEeih39xKyywChQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_17hOdsTNEeih39xKyywChQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_17hOd8TNEeih39xKyywChQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_17hOeMTNEeih39xKyywChQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOecTNEeih39xKyywChQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_17hOesTNEeih39xKyywChQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOe8TNEeih39xKyywChQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_17hOfMTNEeih39xKyywChQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_17hOfcTNEeih39xKyywChQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOfsTNEeih39xKyywChQ" x="843" y="234" width="186" height="94"/>
                </children>
                <children xmi:id="_17hOf8TNEeih39xKyywChQ" type="State" element="_jDT0IMMKEeinjuJ7Jkzy7A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_17hOgMTNEeih39xKyywChQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOgcTNEeih39xKyywChQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_17hOgsTNEeih39xKyywChQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_17hOg8TNEeih39xKyywChQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_17hOhMTNEeih39xKyywChQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOhcTNEeih39xKyywChQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_17hOhsTNEeih39xKyywChQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOh8TNEeih39xKyywChQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_17hOiMTNEeih39xKyywChQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_17hOicTNEeih39xKyywChQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOisTNEeih39xKyywChQ" x="75" y="693" width="544"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_17hOi8TNEeih39xKyywChQ" type="Choice" element="_3LMgoMMQEeijf8tZ-M5Ezg" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOjMTNEeih39xKyywChQ" x="125" y="264"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_17hOjcTNEeih39xKyywChQ" type="Choice" element="_6V0NEMMREeijf8tZ-M5Ezg" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOjsTNEeih39xKyywChQ" x="763" y="541"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_17hOj8TNEeih39xKyywChQ" type="Choice" element="_PHFUQMTNEeih39xKyywChQ" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOkMTNEeih39xKyywChQ" x="543" y="545"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_17hOkcTNEeih39xKyywChQ" type="Choice" element="_PnAxgMTNEeih39xKyywChQ" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOksTNEeih39xKyywChQ" x="358" y="559"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_17hOk8TNEeih39xKyywChQ" type="Choice" element="_QBP2cMTNEeih39xKyywChQ" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOlMTNEeih39xKyywChQ" x="188" y="545"/>
                </children>
                <children xsi:type="notation:Shape" xmi:id="_17hOlcTNEeih39xKyywChQ" type="Choice" element="_QiBoQMTNEeih39xKyywChQ" fontName="Verdana" lineColor="4210752">
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOlsTNEeih39xKyywChQ" x="8" y="545"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOl8TNEeih39xKyywChQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_17hOmMTNEeih39xKyywChQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_17hOmcTNEeih39xKyywChQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3ne98XyZEeiGWfy5vRWGZA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3ne98nyZEeiGWfy5vRWGZA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3nflA3yZEeiGWfy5vRWGZA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3ne983yZEeiGWfy5vRWGZA" x="289" y="380" width="1204" height="936"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jV60IXyXEeiGWfy5vRWGZA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_jVTJEXyXEeiGWfy5vRWGZA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jV8CQHyXEeiGWfy5vRWGZA" x="275" y="285" width="3284" height="2608"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_jWbKcHyXEeiGWfy5vRWGZA" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_jWbxgHyXEeiGWfy5vRWGZA" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jWbxgXyXEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jWbxgnyXEeiGWfy5vRWGZA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_jWbxg3yXEeiGWfy5vRWGZA" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jWbxhHyXEeiGWfy5vRWGZA"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jWcYkHyXEeiGWfy5vRWGZA" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jVFGoXyXEeiGWfy5vRWGZA" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_jVFGonyXEeiGWfy5vRWGZA"/>
    <edges xmi:id="_tTygkHyZEeiGWfy5vRWGZA" type="Transition" element="_tTxScHyZEeiGWfy5vRWGZA" source="_jV-egHyXEeiGWfy5vRWGZA" target="_jWGaUHyXEeiGWfy5vRWGZA">
      <children xsi:type="notation:DecorationNode" xmi:id="_tTyglHyZEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tTyglXyZEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tTyglnyZEeiGWfy5vRWGZA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tTygkXyZEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tTygk3yZEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tTygknyZEeiGWfy5vRWGZA" points="[9, 5, -183, -104]$[197, 97, 5, -12]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tT0VwHyZEeiGWfy5vRWGZA" id="(0.5581395348837209,0.04375)"/>
    </edges>
    <edges xmi:id="_5QSHwHyZEeiGWfy5vRWGZA" type="Transition" element="_5QQ5oHyZEeiGWfy5vRWGZA" source="_jWGaUHyXEeiGWfy5vRWGZA" target="_3ne98HyZEeiGWfy5vRWGZA">
      <children xsi:type="notation:DecorationNode" xmi:id="_5QSHxHyZEeiGWfy5vRWGZA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5QSHxXyZEeiGWfy5vRWGZA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5QSHxnyZEeiGWfy5vRWGZA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5QSHwXyZEeiGWfy5vRWGZA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5QSHw3yZEeiGWfy5vRWGZA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5QSHwnyZEeiGWfy5vRWGZA" points="[0, 0, -255, -200]$[260, 182, 5, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5QTV4HyZEeiGWfy5vRWGZA" id="(0.6569767441860465,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5QTV4XyZEeiGWfy5vRWGZA" id="(0.04564665903903173,0.018594454679318292)"/>
    </edges>
    <edges xmi:id="_jDcW9MMKEeinjuJ7Jkzy7A" type="Transition" element="_jDbI18MKEeinjuJ7Jkzy7A" source="_17hOUcTNEeih39xKyywChQ" target="_17hORcTNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_jDcW9cMKEeinjuJ7Jkzy7A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jDcW9sMKEeinjuJ7Jkzy7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jDcW98MKEeinjuJ7Jkzy7A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jDcW-MMKEeinjuJ7Jkzy7A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jDcW-cMKEeinjuJ7Jkzy7A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jDcW-sMKEeinjuJ7Jkzy7A" points="[1, 7, -6, -61]$[10, 40, 3, -28]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jDcW-8MKEeinjuJ7Jkzy7A" id="(0.38101075120432976,0.18125)"/>
    </edges>
    <edges xmi:id="_jDc-B8MKEeinjuJ7Jkzy7A" type="Transition" element="_jDc-EMMKEeinjuJ7Jkzy7A" source="_17hORcTNEeih39xKyywChQ" target="_17hOW8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_jDc-DcMKEeinjuJ7Jkzy7A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jDc-D8MKEeinjuJ7Jkzy7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jDc-DsMKEeinjuJ7Jkzy7A" x="-3" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jDc-DMMKEeinjuJ7Jkzy7A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jDc-C8MKEeinjuJ7Jkzy7A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jDc-CsMKEeinjuJ7Jkzy7A" points="[56, -106, -392, 24]$[365, -106, -83, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jDc-CcMKEeinjuJ7Jkzy7A" id="(0.5036349010172174,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jDc-CMMKEeinjuJ7Jkzy7A" id="(0.19439086371413744,0.3487584650112866)"/>
    </edges>
    <edges xmi:id="_jDUbLsMKEeinjuJ7Jkzy7A" type="Transition" element="_jDVCNsMKEeinjuJ7Jkzy7A" source="_17hOf8TNEeih39xKyywChQ" target="_17hOf8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_jDVCM8MKEeinjuJ7Jkzy7A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jDVCNcMKEeinjuJ7Jkzy7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jDVCNMMKEeinjuJ7Jkzy7A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jDVCMsMKEeinjuJ7Jkzy7A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jDVCMcMKEeinjuJ7Jkzy7A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jDVCMMMKEeinjuJ7Jkzy7A" points="[31, -4, 14, 4]$[22, 0, 5, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jDUbMMMKEeinjuJ7Jkzy7A" id="(0.9227941176470589,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jDUbL8MKEeinjuJ7Jkzy7A" id="(0.9669117647058824,0.8070175438596491)"/>
    </edges>
    <edges xmi:id="_jDW3YMMKEeinjuJ7Jkzy7A" type="Transition" element="_jDW3acMKEeinjuJ7Jkzy7A" source="_17hOc8TNEeih39xKyywChQ" target="_17hOc8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_jDW3ZsMKEeinjuJ7Jkzy7A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jDW3aMMKEeinjuJ7Jkzy7A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jDW3Z8MKEeinjuJ7Jkzy7A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_jDW3ZcMKEeinjuJ7Jkzy7A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_jDW3ZMMKEeinjuJ7Jkzy7A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_jDW3Y8MKEeinjuJ7Jkzy7A" points="[76, -3, 35, 4]$[45, 0, 4, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jDW3YsMKEeinjuJ7Jkzy7A" id="(0.43548387096774194,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_jDW3YcMKEeinjuJ7Jkzy7A" id="(0.7419354838709677,0.8936170212765957)"/>
    </edges>
    <edges xmi:id="_1C2UEMMQEeijf8tZ-M5Ezg" type="Transition" element="_1CQeMMMQEeijf8tZ-M5Ezg" source="_17hOW8TNEeih39xKyywChQ" target="_17hOZ8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_1C5XYMMQEeijf8tZ-M5Ezg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1C5XYcMQEeijf8tZ-M5Ezg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1C5XYsMQEeijf8tZ-M5Ezg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_1C2UEcMQEeijf8tZ-M5Ezg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_1C4JQMMQEeijf8tZ-M5Ezg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_1C2UEsMQEeijf8tZ-M5Ezg" points="[0, 7, -10, -124]$[14, 114, 4, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1C_eAMMQEeijf8tZ-M5Ezg" id="(0.12037037037037036,0.9342105263157895)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_1C_eAcMQEeijf8tZ-M5Ezg" id="(0.9558823529411765,0.38461538461538464)"/>
    </edges>
    <edges xmi:id="_cxo9gMMREeijf8tZ-M5Ezg" type="Transition" element="_cxkFAMMREeijf8tZ-M5Ezg" source="_17hOi8TNEeih39xKyywChQ" target="_17hOc8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_cxpkkMMREeijf8tZ-M5Ezg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cxpkkcMREeijf8tZ-M5Ezg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cxpkksMREeijf8tZ-M5Ezg" x="-75" y="-4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cxo9gcMREeijf8tZ-M5Ezg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cxo9g8MREeijf8tZ-M5Ezg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cxo9gsMREeijf8tZ-M5Ezg" points="[0, -5, -556, 2]$[557, -28, 1, -21]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cxsn4MMREeijf8tZ-M5Ezg" id="(0.17204301075268819,0.3191489361702128)"/>
    </edges>
    <edges xmi:id="_r9QzIMMREeijf8tZ-M5Ezg" type="Transition" element="_r9OW4MMREeijf8tZ-M5Ezg" source="_17hOZ8TNEeih39xKyywChQ" target="_17hOi8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_r9RaMcMREeijf8tZ-M5Ezg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r9RaMsMREeijf8tZ-M5Ezg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r9RaM8MREeijf8tZ-M5Ezg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r9QzIcMREeijf8tZ-M5Ezg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r9RaMMMREeijf8tZ-M5Ezg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r9QzIsMREeijf8tZ-M5Ezg" points="[-3, -12, -1, 38]$[-3, -45, -1, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r9T2cMMREeijf8tZ-M5Ezg" id="(0.11213235294117647,0.27692307692307694)"/>
    </edges>
    <edges xmi:id="_2NGrQMMREeijf8tZ-M5Ezg" type="Transition" element="_2NGEMMMREeijf8tZ-M5Ezg" source="_17hOi8TNEeih39xKyywChQ" target="_17hORcTNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_2NHSUcMREeijf8tZ-M5Ezg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2NHSUsMREeijf8tZ-M5Ezg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2NHSU8MREeijf8tZ-M5Ezg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2NGrQcMREeijf8tZ-M5Ezg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2NHSUMMREeijf8tZ-M5Ezg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2NGrQsMREeijf8tZ-M5Ezg" points="[0, -6, 2, 50]$[0, -42, 2, 14]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2NJHgMMREeijf8tZ-M5Ezg" id="(0.4469026548672566,0.88125)"/>
    </edges>
    <edges xmi:id="_7cpSQMMREeijf8tZ-M5Ezg" type="Transition" element="_7coEIMMREeijf8tZ-M5Ezg" source="_17hOjcTNEeih39xKyywChQ" target="_17hOf8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_7cpSRMMREeijf8tZ-M5Ezg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7cpSRcMREeijf8tZ-M5Ezg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7cpSRsMREeijf8tZ-M5Ezg" x="117" y="4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7cpSQcMREeijf8tZ-M5Ezg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7cpSQ8MREeijf8tZ-M5Ezg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7cpSQsMREeijf8tZ-M5Ezg" points="[2, 12, 200, -161]$[2, 113, 200, -60]$[-170, 113, 28, -60]$[-170, 149, 28, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7crHcMMREeijf8tZ-M5Ezg" id="(0.3333333333333333,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7crHccMREeijf8tZ-M5Ezg" id="(0.9191176470588235,0.4153846153846154)"/>
    </edges>
    <edges xmi:id="_-GGn0MMREeijf8tZ-M5Ezg" type="Transition" element="_-GGAwMMREeijf8tZ-M5Ezg" source="_17hOjcTNEeih39xKyywChQ" target="_17hOZ8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_-GHO4cMREeijf8tZ-M5Ezg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-GHO4sMREeijf8tZ-M5Ezg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-GHO48MREeijf8tZ-M5Ezg" x="31" y="62"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-GGn0cMREeijf8tZ-M5Ezg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-GHO4MMREeijf8tZ-M5Ezg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-GGn0sMREeijf8tZ-M5Ezg" points="[-5, 3, 228, 187]$[-162, 3, 71, 187]$[-162, -162, 71, 22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-GJEEMMREeijf8tZ-M5Ezg" id="(0.4,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-GJEEcMREeijf8tZ-M5Ezg" id="(0.8566176470588235,0.6461538461538462)"/>
    </edges>
    <edges xmi:id="_KP98oMMSEeijf8tZ-M5Ezg" type="Transition" element="_KP8ugMMSEeijf8tZ-M5Ezg" source="_17hOZ8TNEeih39xKyywChQ" target="_17hOjcTNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_KP98pMMSEeijf8tZ-M5Ezg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_KP98pcMSEeijf8tZ-M5Ezg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_KP98psMSEeijf8tZ-M5Ezg" x="82" y="-41"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_KP98ocMSEeijf8tZ-M5Ezg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_KP98o8MSEeijf8tZ-M5Ezg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_KP98osMSEeijf8tZ-M5Ezg" points="[18, -5, -156, -189]$[180, -5, 6, -189]$[180, 187, 6, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KP_x0MMSEeijf8tZ-M5Ezg" id="(0.9669117647058824,0.6307692307692307)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KP_x0cMSEeijf8tZ-M5Ezg" id="(0.4666666666666667,0.13333333333333333)"/>
    </edges>
    <edges xmi:id="_RwrMsMTNEeih39xKyywChQ" type="Transition" element="_RwniUMTNEeih39xKyywChQ" source="_17hOZ8TNEeih39xKyywChQ" target="_17hOj8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_RwrzwMTNEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RwrzwcTNEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Rwsa0MTNEeih39xKyywChQ" x="-36" y="-28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RwrMscTNEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RwrMs8TNEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RwrMssTNEeih39xKyywChQ" points="[144, 8, 17, -170]$[144, 183, 17, 5]$[135, 183, 8, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RwwFMMTNEeih39xKyywChQ" id="(0.6286764705882353,0.8769230769230769)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RwwFMcTNEeih39xKyywChQ" id="(0.4666666666666667,0.13333333333333333)"/>
    </edges>
    <edges xmi:id="_UUGywMTNEeih39xKyywChQ" type="Transition" element="_UUDvcMTNEeih39xKyywChQ" source="_17hOZ8TNEeih39xKyywChQ" target="_17hOkcTNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_UUHZ0cTNEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_UUHZ0sTNEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_UUIA4MTNEeih39xKyywChQ" x="-48" y="8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UUGywcTNEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_UUHZ0MTNEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UUGywsTNEeih39xKyywChQ" points="[75, 9, -5, -190]$[75, 186, -5, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UULEMMTNEeih39xKyywChQ" id="(0.4007352941176471,0.8615384615384616)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mEPzkMTNEeih39xKyywChQ" id="(0.8,0.8666666666666667)"/>
    </edges>
    <edges xmi:id="_WlOg0MTNEeih39xKyywChQ" type="Transition" element="_WlMroMTNEeih39xKyywChQ" source="_17hOZ8TNEeih39xKyywChQ" target="_17hOk8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_WlPH4cTNEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WlPH4sTNEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WlPH48TNEeih39xKyywChQ"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WlOg0cTNEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WlPH4MTNEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WlOg0sTNEeih39xKyywChQ" points="[25, 12, 0, -163]$[25, 175, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WlRkIMTNEeih39xKyywChQ" id="(0.17647058823529413,0.8153846153846154)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WlRkIcTNEeih39xKyywChQ" id="(0.4666666666666667,0.0)"/>
    </edges>
    <edges xmi:id="_YXvAQMTNEeih39xKyywChQ" type="Transition" element="_YXtyIMTNEeih39xKyywChQ" source="_17hOZ8TNEeih39xKyywChQ" target="_17hOlcTNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_YXvnUMTNEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YXvnUcTNEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YXvnUsTNEeih39xKyywChQ" x="-60" y="28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YXvAQcTNEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YXvAQ8TNEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YXvAQsTNEeih39xKyywChQ" points="[-16, 20, 62, -166]$[-16, 190, 62, 4]$[-68, 190, 10, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YXxcgMTNEeih39xKyywChQ" id="(0.03125,0.676923076923077)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YXxcgcTNEeih39xKyywChQ" id="(0.3333333333333333,0.2)"/>
    </edges>
    <edges xmi:id="_lF-0gMTNEeih39xKyywChQ" type="Transition" element="_lF9mYMTNEeih39xKyywChQ" source="_17hOj8TNEeih39xKyywChQ" target="_17hOf8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_lF-0hMTNEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lF-0hcTNEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lF-0hsTNEeih39xKyywChQ"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lF-0gcTNEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lF-0g8TNEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lF-0gsTNEeih39xKyywChQ" points="[3, 5, 14, -154]$[3, 140, 14, -19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lGApsMTNEeih39xKyywChQ" id="(0.2,0.5333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lGApscTNEeih39xKyywChQ" id="(0.8547794117647058,0.3230769230769231)"/>
    </edges>
    <edges xmi:id="_wWnbQMTNEeih39xKyywChQ" type="Transition" element="_wWkX8MTNEeih39xKyywChQ" source="_17hOj8TNEeih39xKyywChQ" target="_17hOZ8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_wWoCUcTNEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wWoCUsTNEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wWoCU8TNEeih39xKyywChQ" x="-30" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wWnbQcTNEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wWoCUMTNEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wWnbQsTNEeih39xKyywChQ" points="[-7, 0, 189, 205]$[-77, 0, 119, 205]$[-77, -175, 119, 30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6HVucMTNEeih39xKyywChQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_9t4-YMTNEeih39xKyywChQ" type="Transition" element="_9t4XUMTNEeih39xKyywChQ" source="_17hOkcTNEeih39xKyywChQ" target="_17hOf8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_9t5lcMTNEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9t5lccTNEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9t5lcsTNEeih39xKyywChQ"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9t4-YcTNEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9t4-Y8TNEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9t4-YsTNEeih39xKyywChQ" points="[0, 8, 5, -119]$[0, 127, 5, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DRMO4MTOEeih39xKyywChQ" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9t7aoMTNEeih39xKyywChQ" id="(0.5294117647058824,0.015384615384615385)"/>
    </edges>
    <edges xmi:id="_EGsTgMTOEeih39xKyywChQ" type="Transition" element="_EGqeUMTOEeih39xKyywChQ" source="_17hOkcTNEeih39xKyywChQ" target="_17hOZ8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_EGsThMTOEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EGsThcTOEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EGsThsTOEeih39xKyywChQ" x="7" y="15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EGsTgcTOEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EGsTg8TOEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EGsTgsTOEeih39xKyywChQ" points="[-7, 0, 14, 214]$[-97, 0, -76, 214]$[-97, -184, -76, 30]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GujtoMTOEeih39xKyywChQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_NwLWQMTOEeih39xKyywChQ" type="Transition" element="_NwJhEMTOEeih39xKyywChQ" source="_17hOk8TNEeih39xKyywChQ" target="_17hOf8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_NwL9UMTOEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NwL9UcTOEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NwL9UsTOEeih39xKyywChQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NwLWQcTOEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NwLWQ8TOEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NwLWQsTOEeih39xKyywChQ" points="[0, 7, -10, -151]$[12, 141, 2, -17]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NwNLcMTOEeih39xKyywChQ" id="(0.2426470588235294,0.2923076923076923)"/>
    </edges>
    <edges xmi:id="_O6ks0MTOEeih39xKyywChQ" type="Transition" element="_O6jesMTOEeih39xKyywChQ" source="_17hOlcTNEeih39xKyywChQ" target="_17hOf8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_O6ks1MTOEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_O6ks1cTOEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_O6ks1sTOEeih39xKyywChQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_O6ks0cTOEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_O6ks08TOEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_O6ks0sTOEeih39xKyywChQ" points="[2, 5, -71, -194]$[74, 201, 1, 2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_O6nJEMTOEeih39xKyywChQ" id="(0.025735294117647058,0.9692307692307692)"/>
    </edges>
    <edges xmi:id="_RxzYoMTOEeih39xKyywChQ" type="Transition" element="_RxyxkMTOEeih39xKyywChQ" source="_17hOk8TNEeih39xKyywChQ" target="_17hOZ8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Rxz_sMTOEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Rxz_scTOEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Rxz_ssTOEeih39xKyywChQ" x="-21" y="4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_RxzYocTOEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_RxzYo8TOEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_RxzYosTOEeih39xKyywChQ" points="[-1, -3, 61, 196]$[-61, -170, 1, 29]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Rx1N0MTOEeih39xKyywChQ" id="(0.2,0.4666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Rx1N0cTOEeih39xKyywChQ" id="(0.10110294117647059,0.5230769230769231)"/>
    </edges>
    <edges xmi:id="_UmoQsMTOEeih39xKyywChQ" type="Transition" element="_UmkmUMTOEeih39xKyywChQ" source="_17hOlcTNEeih39xKyywChQ" target="_17hOZ8TNEeih39xKyywChQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Umo3wcTOEeih39xKyywChQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Umo3wsTOEeih39xKyywChQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Umo3w8TOEeih39xKyywChQ" x="48" y="-28"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_UmoQscTOEeih39xKyywChQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Umo3wMTOEeih39xKyywChQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_UmoQssTOEeih39xKyywChQ" points="[2, -6, -59, 220]$[62, -230, 1, -4]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_UmrUAMTOEeih39xKyywChQ" id="(0.003676470588235294,0.07692307692307693)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
